body {
  width: 100vw;
  height: 100vh;
  background-color: #ffd8ab;
  position: relative;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content .header {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.content .header .title {
  font-family: 'Paytone One', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 43px;
  text-align: center;
  margin-top: 2%;
  color: #752b01;
}
.content .header .text {
  margin-top: 3%;
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: #752b01;
  margin-left: 50px;
}

.content .options {
  flex: 1;
  display: inline-flex;
  justify-content: space-between;
  height: max-content;
}

.part1,
.part2,
.part3 {
  text-decoration: none;
}

.options .part1 {
  flex: 1;
  border-right: 6px dashed #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
}

.options .part1 .img {
  margin: 8% auto 0;
  width: 80%;
}
.options .part2 .img {
  margin: 25% auto 0;
  width: 80%;
}
.options .part3 .img {
  margin: 18% auto 0;
  width: 90%;
}

.options .part1:hover {
  background-color: #ffb36d;
}
.options .part2:hover {
  background-color: #ffb36d;
}
.options .part3:hover {
  background-color: #ffb36d;
}
.options .part1 .text {
  width: 391px;
  height: 50px;
  margin: 79px auto 0;
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;

  color: #752b01;
}

.options .part2 {
  flex: 1;
  border-right: 6px dashed #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.options .part2 .text {
  width: 360px;
  height: 37px;
  margin: 79px auto 0;
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;

  color: #752b01;
}

.options .part3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.options .part3 .text {
  width: 316px;
  margin: 79px auto 0;
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;

  color: #752b01;
}

#backhome {
  position: fixed;
  right: 17px;
  top: 6px;
  width: 71px;
  height: 83px;
  cursor: pointer;
}
