body {
  width: 100vw;
  height: 100vh;
  background-color: #ffd8ab;
  position: relative;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph {
  width: 515px;
  text-align: center;
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;

  color: #752b01;
}

a {
  color: #752b01;
  font-size: 25px;
}

a:hover{
  background-color: #ffcc5f;
  font-size:35px;
}

.title {
  margin-top: 70px;
  font-family: 'Paytone One', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  text-align: center;

  color: #752b01;
}

#backhome {
  position: fixed;
  right: 17px;
  top: 6px;
  width: 71px;
  height: 83px;
  cursor: pointer;
  z-index: 999;
}
