body {
  width: 100vw;
  height: 100vh;
  background-color: #ffe3c1;
}

.text1 {
  position: absolute;
  width: 500px;
  height: 151px;
  left: 55%;
  top: 26%;
  font-family: 'Paytone One', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  color: #752b01;
}

.text2 {
  position: absolute;
  width: 420px;
  height: 151px;
  left: 16%;
  top: 54%;
  font-family: 'Amaranth', sans-serif;
  
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;

  color: #752b01;
}

.text2 a {
  font-size: 32px;
  color: #752b01;
}

a:hover{
  background-color: #ffcc5f;
  font-size:35px;
}

